<!DOCTYPE html>
<html>
<head>
    <block name="common" th:replace="common/basePage :: commonHead('新增')"></block>
    <script type="text/javascript" th:inline="javascript">
        var roleAddPage = {};
        $.extend(roleAddPage, Page);

        $(function () {
            //加载combobox
            Page.registerComboboxSelect("pid", "/roleApi/getRootRoleList", "roleId", "roleName");
        });

        //提交表单
        function saveWin() {
            progressLoad();
            var isValid = $("#formAdd").form('validate');
            if (!isValid) {
                progressClose();
                return false;
            } else {
                var data = serializeObject($("#formAdd"));
                data.password = md5(data.password);
                jrequest.post(
                    baseHttpUrl + "roleApi/save",
                    JSON.stringify(data),
                    "application/json; charset=UTF-8"
                ).then(res => {
                    progressClose();
                    if (res.data.result === 200) {
                        parent.$.messager.alert('提示', res.data.message, 'info');
                        parent.Page.refreshDataGrid(window.parentPanelDataGrid);
                        parent.Page.closeDialog(window.parentPanelDivId);

                    } else {
                        parent.$.messager.alert('提示', res.data.message, 'info');
                    }
                });
                return false;
            }
        }
    </script>
</head>
<body class="easyui-layout" data-options="fit:true,border:false">
<div id="mainTabs" class="easyui-panel" style="width: 100%;height: 100%;">
    <form id="formAdd" method="post">
        <table class="grid">
            <tr>
                <td>角色名称：</td>
                <td><input id="roleName" name="roleName" class="easyui-textbox"
                           data-options="prompt:'请输入',width:180,required:true"></td>
            </tr>
            <tr>
                <td>父级角色：</td>
                <td><input id="pid" name="pid" class="easyui-combobox"
                           data-options="prompt:'请输入',width:180,required:true"></td>
            </tr>
            <tr>
                <td>状态：</td>
                <td>
                    <select id="status" name="status" class="easyui-combobox" style="width: 180px;"
                            panelHeight="auto"
                            data-options="prompt:'请选择',required:true,editable:false">
                        <option value="0">禁用</option>
                        <option value="1">启用</option>
                    </select>
                </td>
            </tr>
        </table>
    </form>
</div>
</body>
